<div>
    <h1>Available coins</h1>
    <div>
        <h3>Coin Name</h3>
        <p>Coin id</p>
        <button routerLink="/coin/1">See more</button>
    </div>
    <div>
        <h3>Coin Name</h3>
        <p>Coin id</p>
        <button routerLink="/coin/1">See more</button>
    </div>
    <div>
        <h3>Coin Name</h3>
        <p>Coin id</p>
        <button routerLink="/coin/1">See more</button>
    </div>
    <div>
        <h3>Coin Name</h3>
        <p>Coin id</p>
        <button routerLink="/coin/1">See more</button>
    </div>

    <div>
        <h3>Coin Name</h3>
        <p>Coin id</p>
        <button routerLink="/coin/1">See more</button>
    </div>
</div>